:root {
  --background: rgb(199, 199, 199);
  --main: rgb(255, 255, 255);
  --text: rgb(0, 0, 0);
  --leftObject: rgb(50, 169, 86);
  --rightObject: rgb(84, 181, 200);
  --leftHighlightTextColour: rgb(255,255,255);
  --rightHighlightTextColour: rgb(34, 101, 143);
  --leftInterestTable: rgb(107, 218, 140);
  --rightInterestTable: rgb(163, 228, 183);
  --leftLinkTable: rgb(160, 207, 237);
  --rightLinkTable: rgb(201, 225, 240);
  --link: rgb(103, 138, 255);
  --linkHover: rgb(253, 56, 56);
  --embedProfile: rgb(0,0,255);
}

body,html{
    background-color: var(--background);
    font-family: 'Lexend';
    margin: 0;
}

.main{
    background-color: var(--main);
    width: 65%;
    margin: 0 auto;
    padding-top: 2.5%;
    padding-bottom: 5%;
}

.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 15px;
}

.left{
  width: 50%;
}

.right{
  width: 50%;
}

p{
    margin: 0;
    color: var(--text);
}

.profile{
    display: flex;
}

.profile img{
    margin-right: 10px;
    width: 50%;
}

.object{
    margin: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: var(--text);
}


.highlightText{
    color: var(--highlightText);
}

.inner{
    padding: 5px;
}

table{
    width: 100%;
}

a{
    color: var(--link);
    text-decoration: none;
}

a:hover{
    color: var(--linkHover);
    text-decoration: underline;
}

table a,table a:visited{
    color: var(--text);
    text-decoration: none;
}

.contacts-table a, .contacts-table a:visited{
    color: var(--link);
    text-decoration: none;
}

h1{
    margin: 0;
    margin-bottom: 10px;
}

/*

For those of you who can't remember

LEFT <--
RIGHT -->

*/

.left .object{
    border: 1px solid var(--leftObject);
}

.left .label{
    background-color: var(--leftObject);
    color: var(--leftHighlightTextColour);
}

.left h4{
    color: var(--leftHighlightTextColour);
}

.right .object{
    border: 1px solid var(--rightObject);
}

.right .label{
    background-color: var(--rightObject);
    color: var(--rightHighlightTextColour);
}

.right h4{
    color: var(--rightHighlightTextColour);
}

.left .tableLeft{
    background-color: var(--leftInterestTable)
}

.left .tableRight{
    background-color: var(--rightInterestTable)
}

.right .tableLeft{
    background-color: var(--leftLinkTable)
}

.right .tableRight{
    background-color: var(--rightLinkTable)
}

/* media queries */


@media screen and (max-width: 1390px) {
    nav{
        width: 90%;
    }
    .main{
        width: 90%;
    }
}


@media screen and (max-width: 1000px) {
    nav{
        width: 100%;
    }
    .main{
        width: 100%;
    }
    .left{
      width: 100%;
    }
    .right{
      width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .container{
        display: inline;
    }
    
    .left{
      width: 100%;
    }
    .right{
      width: 100%;
    }
}

/* embed profile */


.embedProfile{
    text-align: center;
    color: var(--embedProfile);
    border: var(--embedProfile);
    display: block;
    width: 100%;
}

.embedProfile-name{
    text-decoration: none;
}

.embedProfile-image{
    width: max-content;
    height: auto;
}